/*
 * CSS Styles Base - Copyright 2020, Vancouver Film School
 *
 */

/* Clear defaults to start */

/* Box sizing rules */
*, *::before, *::after { box-sizing: border-box; }

/* Remove default padding */
ul[class], ol[class] { padding: 0; }

/* Remove default margin */
body, h1, h2, h3, h4, p, blockquote, ul[class], ol[class], li, dl, dd, figure, figcaption { margin: 0; }

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] { list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img { max-width: 100%; display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * { margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select { font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Add Styles for a grey bland teaching world */

body, html {
    background: #242527;
    border: none;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, div, ul {
    margin:0;
    padding:0;
    border:none;
    color:#fff;
}

button {
    border-radius: 2px;
    font-weight: 700;
    /* min-width:  20em; */
    padding: 0.5em;
}

form {
    color: white;
    /* font-size: 150%; */
}
input {height: 1.4em;font-weight:  700;font-size: 1.2em;}

.debug {
    border:1px dashed red;
    z-index: 6000;
}

.clear { clear: both; }

.list-block {
    list-style: none;
    display: flex;
    width: 100%;
}

.list-block li {
    flex-grow: 1;
}

.menuitem {
    list-style-type: none;
    margin: 2px;
}

.menuitem button {
    min-width: 5em;
}

.dialog {
    box-shadow: 3px 3px 13px black;
    margin: 0 auto;
    padding: 1em;
    width: 50%;
}

.app-container {
    margin: 0 auto;
    min-height: 720px;
    position: relative;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 5em 15% 60% 15% 6em;
    grid-template-rows: 1em 10% 55% 10em 2em;
}
    .grid-gutter-left {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .grid-sidebar-left {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .grid-column-main {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .grid-column-head {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .grid-sidebar-right {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .grid-gutter-right {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .grid-row-top {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .grid-row-head {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .grid-row-main {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .grid-row-tail {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .grid-row-foot {
        grid-row-start: 5;
        grid-row-end: 6;
    }

.flex-container, .flex-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap:none;
    justify-content: center;

    margin: 0 auto;
    margin-top: 1%;
}


    .sidebar-item {
        /* should live withing a flex box */
        /* width: 10%; */
        flex-grow: 1;
    }

    .uiview-item {
        /* should live withing a flex box */
        display:  flex;
        flex-grow: 5;
        flex-wrap: nowrap;
        justify-content: space-around;
        min-width: 83%;
    }

    .sidebar-right {
        /* should live withing a flex box */
        width: 15%;
    }

.border {
    padding: 2px;
    border: 4px solid black;
}

.bevel {
    background-color: cornflowerblue;
    border-top: 3px solid lightskyblue;
    border-left: 3px solid lightskyblue;
    border-right: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
}
